.container {
    border-right: 0.5px solid #eee;
    border-top: 0.5px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .nav_links {
        width: 100%;
    }

    .logout_button {
        margin-bottom: 2.5rem;
    }
}