.container {

    min-height: 5.125rem;
    display: flex;
    flex-direction: column;
    // padding: 1rem;
    .textField {

        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        border: none;
        border-bottom: 1px solid #ccc;
        width: 100%;
        transition: all 0.3s ease;

        font: {
            size: 1.5rem;
            weight: 400;
        }

        &::placeholder {
            color: #ccc;
        }
        &:focus {
            outline: none;
            border-bottom: 1px solid #000;
        }
    }

    .error {
        color: red;
    }
}

